<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<title>Amazon affiliate</title>
	<link rel="stylesheet" type="text/css" href="./css/stylesheet.css">
</head>
<body>

	<header>
		<div id="container_apple">
			<div>
				<h1 class="page2_shop_here"></h1>				
			</div>
		</div>
	</header>

	<div class="category">
		<h2>Overall best</h2>
	</div>

	<div class=category_sub>

	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51TdkJSqeQL._SL1000_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Apple MacBook Air (13-inch, 8GB RAM, 128GB Storage, 1.8GHz Intel Core i5)</h3>
	         <div class="purchase">
	    	        <a href="">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51oCfZu2BWL._SL1024_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">Apple MacBook Air (13-inch, 8GB RAM, 128GB Storage, 1.6GHz Intel Core i5)</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/38Upl7z">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/71L2iBSyyOL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Apple MacBook Pro (16-inch, 16GB RAM, 512GB Storage, 2.6GHz 9th Gen Intel Core i7)</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3eySwOZ">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/71YRSVXhgQL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">New Apple MacBook Pro (13-inch, 8GB RAM, 256GB SSD, 1.4GHz Quad-core 8thr</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3frdoZJ">Purchase</a>
	         </div>		    
	    </div>

	</div>	


</body>
</html>