<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<title>Amazon affiliate</title>
	<link rel="stylesheet" type="text/css" href="./css/stylesheet.css">
</head>
<body>

	<header>
		<div id="container_apple">
			<div>
				<h1 class="page2_shop_here"></h1>				
			</div>
		</div>
	</header>

	<div class="category">
		<h2>Overall best</h2>
	</div>

	<div class=category_sub>

	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/71IPFP9WJIL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Apple AirPods with Wireless Charging Case</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3fuBdQ9">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/41QEkdkpnWL._SL1024_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">Apple 5W USB Power Adapter (for iPhone)</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3fqKby0">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/71fmZDBPqPL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Apple Watch Series 3 (GPS, 38mm) </h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2CymPId">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51yTa7I4KUL._SL1200_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Apple Lightning to USB Cable (2m)</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2Zsen65">Purchase</a>
	         </div>		    
	    </div>

	</div>	


</body>
</html>