<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<title>Amazon affiliate</title>
	<link rel="stylesheet" type="text/css" href="./css/stylesheet.css">
</head>
<body>

	<header>
		<div id="container_apple">
			<div>
				<h1 class="page2_shop_here"></h1>				
			</div>
		</div>
	</header>

	<div class="category">
		<h2>Overall best</h2>
	</div>

	<div class=category_sub>

	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61itOh%2BJe8L._SL1024_.jpg" alt="" class="image_dim_page2_iphone"></a>
		    <h3 class="product_name">
Apple iPhone 11 Pro (64GB) </h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3ft2Cls">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61ers6OzvUL._SL1024_.jpg" class="image_dim_page2_iphone"></a>
		    <h3 class="product_name">Apple iPhone 11 Pro Max (256GB) </h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3ftzWZx">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51oXVi%2BZhhL._SL1024_.jpg" alt="" class="image_dim_page2_iphone"></a>
		    <h3 class="product_name">
Apple iPhone 11 (128GB)</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/38QSO2m">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61UXPmnTC9L._SL1024_.jpg" alt="" class="image_dim_page2_iphone"></a>
		    <h3 class="product_name">
Apple iPhone Xs (256GB)</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2ZrhQ56">Purchase</a>
	         </div>		    
	    </div>

	</div>	

		<div class=category_sub>

	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51h6wn10Y2L._SL1000_.jpg" alt="" class="image_dim_page2_iphone"></a>
		    <h3 class="product_name">Apple iPhone XR (128GB) </h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3ey1agE">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51fqTrJaTvL._SL1024_.jpg" alt="" class="image_dim_page2_iphone"></a>
		    <h3 class="product_name">
Apple iPhone 8 (Gold, 256GB)</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3ft0WbR">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/419smKsnVyL._SL1024_.jpg" alt="" class="image_dim_page2_iphone"></a>
		    <h3 class="product_name">
Apple iPhone 7 (32GB) </h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2ZnGweG">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/41ie%2B895EyL._SL1000_.jpg" alt="" class="image_dim_page2_iphone"></a>
		    <h3 class="product_name">
Apple iPhone 7 Plus (128GB)</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2We0cPZ">Purchase</a>
	         </div>		    
	    </div>

	</div>	


</body>
</html>