<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<title>Amazon affiliate</title>
	<link rel="stylesheet" type="text/css" href="./css/stylesheet.css">
</head>
<body>

	<header>
		<div id="container_apple">
			<div>
				<h1 class="page2_shop_here"></h1>				
			</div>
		</div>
	</header>

	<div class="category">
		<h2>Overall best</h2>
	</div>

	<div class=category_sub>

	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/815a%2BXjrgvL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">New Apple iPad Pro (11-inch, Wi-Fi, 128GB) </h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3fwxGko">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/811aBwuSuIL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
New Apple iPad Pro (12.9-inch, Wi-Fi, 128GB) </h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3eyTydP">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/71TJA%2BsJv2L._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Apple iPad (10.2-inch, Wi-Fi, 32GB) </h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2Op9uEO">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51IqpNeYKPL._SL1024_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Apple iPad Air (10.5-inch, Wi-Fi, 256GB)</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2OlgJgG">Purchase</a>
	         </div>		    
	    </div>

	</div>	


</body>
</html>