<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<title>Amazon affiliate</title>
	<link rel="stylesheet" type="text/css" href="./css/stylesheet.css">
</head>
<body>

	<header>
		<div id="container_fitness">
			<div>
				<h1 class="page2_shop_here">Make it happen</h1>				
			</div>
		</div>
	</header>

	<div class="category">
		<h2>Overall best</h2>
	</div>

	<div class=category_sub>

	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/71kGR-9SBHL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">MuscleBlaze BCAA Pro Amino Acid Powder (Watermelon & Fruit Splash, 250 g)</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2Zs0FjD">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51aA%2Bm2zCpL.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Naturyz Instantized BCAA Energy Blast with 7000 BCAA, Glutamine, Citrulline & Beta Alanine </h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3gTVRJV">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61fqAKjrlCL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
MuscleBlaze BCAA Gold 8:1:1 Amino Acid Powder (Watermelon, 450g, 30 Servings)</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3iWQXOd">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/715tjSHbmsL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">GNC Amp Gold Series BCAA Advanced - 11.9 Oz, 337.5 gm (Green Apple)</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3j3TB4s">Purchase</a>
	         </div>		    
	    </div>

	</div>	


</body>
</html>