<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<title>Amazon affiliate</title>
	<link rel="stylesheet" type="text/css" href="./css/stylesheet.css">
</head>
<body>

	<header>
		<div id="container_technology">
			<div>
				<h1 class="page2_shop_here">Shop here</h1>				
			</div>
		</div>
	</header>

	<div class="category">
		<h2>Overall best</h2>
	</div>

	<div class=category_sub>

	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51ty%2B2vLnqL._SL1100_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Xmate Mettle Micro USB Cable Fast Charging Cable Nylon Braided Data Cable for All Smartphones(Black)</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/307a1ka">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51I7s-FRpbL._SL1200_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
oraimo Firefly 5.0V/2.1A Dual USB Fast Wall Charger & Micro-USB Cable with Multi-Protection</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/306WMzT">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61b91WUDxmL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
boAt Rugged v3 Extra Tough Unbreakable Braided Micro USB Cable 1.5 Meter (Black)</h3>
	         <div class="purchase">
	    	        <a href="       ">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61ot29-WomL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
boAt A 350 Type C Cable 1.5m (Black)</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/38UoFir">Purchase</a>
	         </div>		    
	    </div>

	</div>	


</body>
</html>