<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<title>Amazon affiliate</title>
	<link rel="stylesheet" type="text/css" href="./css/stylesheet.css">
</head>
<body>

	<header>
		<div id="container_dslr">
			<div>
				<h1 class="page2_shop_here">Shop here</h1>				
			</div>
		</div>
	</header>

	<div class="category">
		<h2>Overall best</h2>
	</div>

	<div class=category_sub>

	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/914hFeTU2-L._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Canon EOS 1500D 24.1 Digital SLR Camera (Black) with EF S18-55 is II Lens, 16GB Card and Carry Case</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/307rCID">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/71TSinb4usL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Nikon D3500 W/AF-P DX Nikkor 18-55mm f/3.5-5.6G VR with 16GB Memory Card and Carry Case (Black)</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/32hj9Wa">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61fdH0yoBJL._SL1000_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">Canon PowerShot SX430 IS 20MP Digital Camera with 45x Optical Zoom (Black) + 16GB Memory Card + Camera Case</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3fs1wX3">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/71a1SVP%2B-%2BL._SX679_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Sony Alpha ILCE5100L 24.3MP Digital SLR Camera (Black) with 16-50mm Lens with Free Case (Bag)</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2ZofpjI">Purchase</a>
	         </div>		    
	    </div>

	</div>	


	<div class=category_sub>

	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/71bGFXyhRXL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Canon EOS 80D 24.2MP Digital SLR Camera (Black) + EF-S 18-135mm f/3.5-5.6 Image Stabilization USM Lens Kit + 16GB Memory Card</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/38VH3rp">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/81sdQzBKNFL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
PANASONIC LUMIX G7 4K Mirrorless Camera, with 14-42mm MEGA O.I.S. Lens, 16 Megapixels, 3 Inch Touch LCD, DMC-G7KS</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3iZUdZ4">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51SRpFIddzL.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Nikon D5300 24.2MP Digital SLR Camera (Black) with AF-P 18-55mm f/ 3.5-5.6g VR Kit Lens, 16GB Card and Camera Bag</h3>
	         <div class="purchase">
	    	        <a href="        ">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/71ETsX1pjgL._SL1200_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Sony a7 III Full-Frame Mirrorless Interchangeable-Lens Camera (with 28-70mm F3.5-5.6 OSS Lens)</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3iZcpC0">Purchase</a>
	         </div>		    
	    </div>

</body>
</html>