<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<title>Amazon affiliate</title>
	<link rel="stylesheet" type="text/css" href="./css/stylesheet.css">
</head>
<body>

	<header>
		<div id="container_headphone">
			<div>
				<h1 class="page2_shop_here">Shop here</h1>				
			</div>
		</div>
	</header>

	<div class="category">
		<h2>Overall best</h2>
	</div>

	<div class=category_sub>

	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61fAoBkYQ1L._SL1100_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Echo Dot (3rd Gen) – New and improved smart speaker with Alexa</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/38YVta7">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61qIcidztUL._SL1000_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Echo Input Portable Smart Speaker Edition </h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3etQ8Jd">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/7128HRanJgL._SL1100_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Amazon Echo (3rd Gen) – Improved sound, powered by Dolby</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/32i15Lo">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61UnzwX%2B4NL._SL1000_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Amazon Echo (2nd Gen) - Powered by Dolby</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/30ngjfJ">Purchase</a>
	         </div>		    
	    </div>

	</div>	

		<div class=category_sub>

	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51w2Bo65HkL._SL1000_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Echo Dot (3rd Gen) with clock - New and improved smart speaker with Alexa and LED display </h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/30f4Nmy">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51rVhpeprrL._SL1000_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Introducing Echo Show 8 – Smart display with Alexa - 8" HD screen with stereo sound </h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3frIr7H">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51sk3U3LumL._SL1000_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Echo Spot – Smart Alarm Clock with Alexa </h3>
	         <div class="purchase">
	    	        <a href="      ">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61UjBYbIZgL._SL1000_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Amazon Echo (3rd Gen, White) bundle with Wipro 9W Smart LED bulb</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3gY5w1W">Purchase</a>
	         </div>		    
	    </div>

	</div>	


</body>
</html>