<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<title>Amazon affiliate</title>
	<link rel="stylesheet" type="text/css" href="./css/stylesheet.css">
</head>
<body>
	<header>	
		<div class="logo"><img src="./images/logo.PNG"> </div>
		<nav>
			<ul class="nav_link">
				<li><a href="login">Login</a></li>
			    <li><a href="register">Register</a></li>
			    <li><a href="logout">Logout</a></li>
			</ul>
		</nav>
	</header> 

      <div id="home_container">
	     <h1 >Shop best products here</h1>
	     <p>This is the website where you will find the best products</p>
	     <a href="#shopnow">Shop now</a>
      </div>

	<div class="category">
		<h2 id="shopnow">Top selling categoreies</h2>
	</div>


	<div id="major">
		<div class="home_major"><a href="laptop"><img src="./images/pic1.JPG" alt="Laptops" class="image_dim_topselling"></a></div>
		<div class="home_major"><a href="mobilephones"><img src="./images/pic2.JPG" alt="Mobiles" class="image_dim_topselling"></a></div>
		<div class="home_major"><a href="Keyboardandmouse"><img src="./images/pic3.JPG" alt="keyboard and Mouse" class="image_dim_topselling"></a></div>
		<div class="home_major"><a href="Headphoneandspeakers"><img src="./images/pic4.JPG" alt="Headphone and Speakers" class="image_dim_topselling"></a></div>
		<div class="home_major"><a href="mensfashion"><img src="./images/pic5.JPG" alt="Men's Fashion" class="image_dim_topselling"></a></div>
		<div class="home_major"><a href="womensfashion"><img src="./images/pic6.JPG" alt="Women's Fashion" class="image_dim_topselling"></a></div>
		<div class="home_major"><a href="gymandfitness"><img src="./images/pic7.JPG" alt="Fitness" class="image_dim_topselling"></a></div>
		<div class="home_major"><a href="unavailable"><img src="./images/img34.JPEG" alt="" class="image_dim_topselling"></a></div>
	</div>


<!-- categoriss============== -->

	<div class="category">
		<h2>Technology</h2>
	</div>

	<div class=category_sub>

	    <div class="category_sub_div">
		    <a href="dslr"><img src="./images/tech1.JPG" alt="" class="image_dim"></a>
		    <h3>DSLR Camera</h3>
	    </div>
	    <div class="category_sub_div">
		    <a href="smartwatch"><img src="./images/tech2.JPG" alt="" class="image_dim"></a>
		    <h3>Smart Watch</h3>
	    </div>
	    <div class="category_sub_div">
		    <a href="controler"><img src="./images/tech3.JPG" alt="" class="image_dim"></a>
		    <h3>Controller</h3>
	    </div>
	    <div class="category_sub_div">
		    <a href="echoandalexa"><img src="./images/tech4.JPG" alt="" class="image_dim"></a>
		    <h3>Echo and Alexa</h3>
	    </div>

	</div>

<!-- ============================================================================== -->

	<div class="category">
		<h2>Apple's store</h2>
	</div>

	<div class=category_sub>

	    <div class="category_sub_div">
		    <a href="apple_macbook"><img src="./images/apple1.JPG" alt="" class="image_dim"></a>
		    <h3>Macbook</h3>
	    </div>
	    <div class="category_sub_div">
		    <a href="apple_ipad"><img src="./images/apple2.JPG" alt="" class="image_dim"></a>
		    <h3>IPAD</h3>
	    </div>
	    <div class="category_sub_div">
		    <a href="apple_iphone"><img src="./images/apple3.JPG" alt="" class="image_dim"></a>
		    <h3>IPHONE</h3>
	    </div>
	    <div class="category_sub_div">
		    <a href="apple_accessories"><img src="./images/apple4.JPG" alt="" class="image_dim"></a>
		    <h3>Accessories</h3>
	    </div>

	</div>

<!-- ============================================================================== -->
	<div class="category">
		<h2>Accessories</h2>
	</div>

	<div class=category_sub>

	    <div class="category_sub_div">
		    <a href="harddrive"><img src="./images/accessory1.JPG" alt="" class="image_dim"></a>
		    <h3>Hard drive</h3>
	    </div>
	    <div class="category_sub_div">
		    <a href="datacable"><img src="./images/accessory2.JPG" alt="" class="image_dim"></a>
		    <h3>Data cable</h3>
	    </div>
	    <div class="category_sub_div">
		    <a href="Powerbank"><img src="./images/accessory3.JPG" alt="" class="image_dim"></a>
		    <h3>Powerbank</h3>
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="./images/img34.JPEG" alt="" class="image_dim"></a>
		    <h3>unavailable</h3>
	    </div>

	</div>

	

<!-- ============================================================================== -->
	<div class="category">
		<h2>Supplements</h2>
	</div>

	<div class=category_sub>

	    <div class="category_sub_div">
		    <a href="protien_supplements"><img src="./images/supple1.JPG" alt="" class="image_dim"></a>
		    <h3>Protein powder</h3>
	    </div>
	    <div class="category_sub_div">
		    <a href="creatine_supplements"><img src="./images/supple2.JPG" alt="" class="image_dim"></a>
		    <h3>Creatine</h3>
	    </div>
	    <div class="category_sub_div">
		    <a href="bcaa_supplements"><img src="https://images-na.ssl-images-amazon.com/images/I/715tjSHbmsL._SL1500_.jpg" alt="" class="image_dim"></a>
		    <h3>BCAA supplement</h3>
	    </div>
	    <div class="category_sub_div">
		    <a href="other_supplements"><img src="./images/supple4.JPG" alt="" class="image_dim"></a>
		    <h3>Other Nutrition</h3>
	    </div>

	</div>

<!-- ============================================================================== -->
<div id="footer_seperate">
</div>

<div id="footer">
	<img src="./images/logo.PNG">
</div>
<!-- ============================================================================== -->

</body>
</html>