<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<title>Amazon affiliate</title>
	<link rel="stylesheet" type="text/css" href="./css/stylesheet.css">
</head>
<body>

	<header>
		<div id="container_laptop">
			<div>
				<h1 class="page2_shop_here">Shop here</h1>				
			</div>
		</div>
	</header>


	<div class="category">
		<h2>Overall best</h2>
	</div>

	<div class=category_sub>

	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/71rqOYI3Y5L._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">MSI Gaming MSI GL63 8RD-450IN 2018 15.6-inch Laptop (8th Gen Core i7-8750H/8GB/1TB/128GB SSD/Windows 10/4GB Graphics), Black</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2ZjCcNk">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/71e%2BTGVXJDL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">Acer Aspire 5 A515-54G 15.6-inch Laptop (Intel Core i7-10510U processor/8GB/512GB SSD/Windows 10/NVIDIA GeForce MX250 Graphics), Pure Silver
</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3gN1WaU">Purchase</a>
	         </div>
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/91jiTNNZuIL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
            Lenovo IdeaPad S340 81VW00CVIN 15.6-inch FHD IPS Thin and Light Laptop (10th Gen CORE I5-1035G4/8GB/512GB SSD/Windows 10/Microsoft Office/Integrated...
            </h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3002ZxB">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/81B%2BzvuBoYL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">Acer Nitro 5 AN515-43 15.6-inch Laptop (AMD Ryzen 7 3750H/8GB/1TB HDD + 256GB SSD/Windows 10 Home 64 bit/GTX 1650 - 4GB Graphics), Obsidian Black
            </h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2BTXsAJ">Purchase</a>
	         </div>		    
	    </div>

	</div>	


		<div class=category_sub>

	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/7115cp7wcgL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
ASUS VivoBook 14 X403FA-EB021T Intel Core i5 8th Gen 14-inch FHD Thin and Light Laptop (8GB RAM/512GB NVMe SSD/Windows 10/Integrated Graphics/</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2C0df0A">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/81RAueA5gyL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">Acer Swift 3 10th Gen Core i5 14-inch Ultra Thin and Light Laptop (8GB/512GB SSD/Windows 10/Steel Gray/1.19kg), SF314-57
</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/300WBWL">Purchase</a>
	         </div>
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/810QsxZTTEL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">ASUS ZenBook UX430UA-GV573T Intel Core i5 8th Gen 14-inch FHD Thin and Light Laptop (8GB RAM/256GB SSD/Windows 10/Integrated Graphics/1.30 kg), Gold</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3gUtICf">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/71Ciw3HszuL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">ASUS VivoBook 14 X409FJ-EK501T Intel Core i5 8th Gen 14-inch FHD Compact and Light Laptop (8GB RAM/512GB NVMe SSD/Windows 10/2GB NVIDIA GeForce MX230...</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3fmV4Rp">Purchase</a>
	         </div>		    
	    </div>

	</div>

<!-- CATEGORY CHANGE================================================================ -->

	<div class="category">
		<h2>Gaming laptop</h2>
	</div>

	<div class=category_sub>

	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/71rqOYI3Y5L._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">MSI Gaming MSI GL63 8RD-450IN 2018 15.6-inch Laptop (8th Gen Core i7-8750H/8GB/1TB/128GB SSD/Windows 10/4GB Graphics), Black
</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/32fvdHr">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/81pl1o7uQ3L._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">Lenovo Legion Y540 9th Gen Intel Core i5 15.6 inch FHD Gaming Laptop (8GB/512GB SSD/NVIDIA GTX 1650 4GB Graphics/Windows 10/Black/2.3Kg),81SY00CKIN</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3iSIIT6">Purchase</a>
	         </div>
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/71QXJg8uOCL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">Acer Nitro 5 AN515-54 15.6-inch Laptop (9th Gen Intel Core i5-9300H processor/8GB/1TB+256GB SSD/Windows 10 Home 64-bit/NVIDIA GeForce GTX 1650 with 4 GB of...</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3emPOvw">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/71EGs7rkM6L._SL1474_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">Acer Predator Triton 300 PT315-51 2019 15.6-inch Laptop (9th Gen Core i5 9300H/8GB/1TB HDD + 256GB SSD/Windows 10 Home/4GB NVIDIA GeForce GTX 1650 Graphics)</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/38LOcdE">Purchase</a>
	         </div>		    
	    </div>

	</div>	


	<div class=category_sub>

	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61HWikiDHFL._SL1036_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
ASUS TUF Gaming FX504 15.6-inch FHD Laptop GTX 1060 6GB Graphics (Core i5-8300H 8th Gen/8GB RAM/1TB SSHD + 256GB SSD/Windows 10/Gun Metal/2.30 Kg)</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2CvPU6M">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/71IBJRa3EBL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">Acer Nitro 7 AN715-51 15.6" Full HD IPS Thin and Light Gaming Notebook(Intel Core i5-9300H processor/8GB Ram/1TB HDD + 256GB SSD/Windows 10 Home 64</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2OjdhmN">Purchase</a>
	         </div>
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/81EEuUyk6yL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Acer Predator Helios 500 PH517-51-72NU Gaming Laptop, Intel Core i7-8750H, GeForce GTX 1070 Overclockable Graphics, 17.3" Full HD 144Hz G-Sync Display</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/325MSRH">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/815K4p82zlL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">ASUS TUF Gaming FX505DT 15.6" FHD 120Hz Laptop GTX 1650 4GB Graphics (Ryzen 5-3550H/8GB RAM/1TB HDD + 256GB PCIe SSD/Windows 10/Stealth Black/2.20 Kg)</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2ZldXyz">Purchase</a>
	         </div>		    
	    </div>

	</div>	

<!-- CATEGORY CHANGE================================================================ -->

	<div class="category">
		<h2>Touchscreen</h2>
	</div>

	<div class=category_sub>

	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/71JC-7DMIVL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">ASUS ZenBook Flip 13 UX362FA Intel Core i5 8th Gen 13.3-inch FHD Touchscreen 2-in-1 Thin & Light Laptop (8GB RAM/512GB NVMe SSD/Windows 10/Integrated</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2C5rm4X">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/615Z3KJk7bL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">HP Pavilion x360 Core i5 10th Gen 14-inch FHD Touchscreen 2-in-1 Alexa Enabled Laptop (8GB/256GB SSD/Windows 10/MS Office/Inking Pen/FPR/Natural Silver/1.59</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2W8z31a">Purchase</a>
	         </div>
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/518RtTO4%2BzL._SL1000_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">Microsoft Surface Go MHN-00015 10 inch Touchscreen 2-in-1 Laptop (Intel Pentium Gold Processor/8GB/128GB SSD/Windows 10 Home in S Mode/Intel HD Graphics</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/38LlpGj">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/81K9Es2DDFL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">ASUS ZenBook Duo UX481FL-BM5811T Intel Core i5 10th Gen 14-inch FHD Thin and Light Laptop (8GB RAM/512GB NVMe SSD/Windows 10/2GB NVIDIA GeForce MX250</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2DvZ9o9">Purchase</a>
	         </div>		    
	    </div>

	</div>	


</body>
</html>