<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<title>Amazon affiliate</title>
	<link rel="stylesheet" type="text/css" href="./css/stylesheet.css">
</head>
<body>

	<header>
		<div id="container_keyboard">
			<div>
				<h1 class="page2_shop_here">Shop here</h1>				
			</div>
		</div>
	</header>

<!-- ======================================================== -->
	<div class="category">
		<h2>keyboard and mouse</h2>
	</div>

	<div class=category_sub>

	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61EYbxlPiPL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Logitech MK215 Wireless Keyboard and Mouse Combo</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2Zm7ALu">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/71B9sddtIYL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Dell Km117 Wireless Keyboard Mouse</h3>
	         <div class="purchase">
	    	        <a href="    ">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61iK6u76oIL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Logitech MK275 Wireless Keyboard and Mouse Combo
</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2OupiGp">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51sW4Of-t0L._SL1000_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Logitech MK240 NANO Mouse and Keyboard Combo Black Color
</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/32b0tXJs">Purchase</a>
	         </div>		    
	    </div>

	</div>	

	<!-- ======================================================== -->
	<div class="category">
		<h2>Gaming set</h2>
	</div>

	<div class=category_sub>

	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61l3aUqHRVL._SL1000_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
ZEBRONICS Gaming Multimedia USB Keyboard & USB Mouse Combo -Transformer</h3>
	         <div class="purchase">
	    	        <a href="     ">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/81EY-y59fmL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Cosmic Byte Dark Matter Gaming Keyboard and Mouse Combo, 3 Color LED Backlight, Upto 2400 DPI 5 Button LED Mouse</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2Wb2r6C">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/813SshIMhfL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Zebronics Zeb-War Gaming USB Keyboard and Mouse Combo(Black)
</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2ZnKfJj">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/71vBVc36V4L._SL1100_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Xmate Zorro Gaming Mouse & Gaming Keyboard Combo, 3200 DPI Wired Mouse, 6 Buttons, Multi-Color Backlit Keyboard</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2ZpDXcd">Purchase</a>
	         </div>		    
	    </div>
	</div>

<!-- ======================================================== -->
	<div class="category">
		<h2>Gaming keyboard</h2>
	</div>

	<div class=category_sub>

	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61YiuIfcAbL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Redragon Karura K502 USB Gaming Keyboard</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/302PtZP">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61M2CPqMgwL._SL1000_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Redgear Blaze Semi-Mechanical wired Gaming keyboard with 3 colour backlit, full aluminium body</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2ZiuQd3">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/815SBVJdr4L._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Redgear Grim Wired Semi-Mechanical RGB Backlit Gaming Keyboard with Floating Key Cap</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2ZkGkNj">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/71ftnIeMlTL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Cosmic Byte CB-GK-02 Corona Wired Gaming Keyboard, 7 Color RGB Backlit with Effects, Anti-Ghosting</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3emdW1F">Purchase</a>
	         </div>		    
	    </div>

	</div>	


	<!-- ======================================================== -->
	<div class="category">
		<h2>Gaming mouse</h2>
	</div>

	<div class=category_sub>

	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61EEM0MgrVL._SL1100_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Xmate Zorro 3200DPI LED Backlight 6 Button Wired USB Gaming Mouse, Durable ABS Body for Gamers, 4 Color Breathing Lights</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2Wc29wn">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/718EJyXtdgL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
MFTEK Tag 3 2000 dpi LED Backlit Wired Gaming Mouse with Unbreakable ABS Body</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2CpLOgD">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61OR46hQkdL._SL1334_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Red Gear Dragonwar Emera ELE-G11 3200 DPI Gaming Mouse</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2W9Jz8n">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61xuiym9xgL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Redgear A-10 Wired Gaming Mouse with LED, Lightweight, Durable and DPI Upto 2400 </h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3iXKjab">Purchase</a>
	         </div>		    
	    </div>

	</div>	

	<!-- ======================================================== -->
<!-- 	<div class="category">
		<h2>Overall best</h2>
	</div>

	<div class=category_sub>

	    <div class="category_sub_div">
		    <a href=""><img src="./images/img34.JPEG" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name"></h3>
	         <div class="purchase">
	    	        <a href="">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="./images/img34.JPEG" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name"></h3>
	         <div class="purchase">
	    	        <a href="">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="./images/img34.JPEG" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name"></h3>
	         <div class="purchase">
	    	        <a href="">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="./images/img34.JPEG" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name"></h3>
	         <div class="purchase">
	    	        <a href="">Purchase</a>
	         </div>		    
	    </div>

	</div>	
 -->
</body>
</html>