<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<title>Amazon affiliate</title>
	<link rel="stylesheet" type="text/css" href="./css/stylesheet.css">
</head>
<body>

	<header>
		<div id="container_headphone">
			<div>
				<h1 class="page2_shop_here">Shop here</h1>				
			</div>
		</div>
	</header>

<!-- ================================================================== -->
	<div class="category">
		<h2>Headphone</h2>
	</div>

	<div class=category_sub>

	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/71CM0FCo3BL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">Infinity (JBL) Glide 500 Wireless Headphones with 20 Hours Playtime (Quick Charge), Deep Bass and Dual Equalizer (Charcoal Black)</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/32aHAEj">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61ihz46SLOL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">boAt Rockerz 450 Wireless Bluetooth Headphone with Up to 8H Playback, Adaptive Lightweight Design, Immersive Audio, Easy Access Controls and Dual Mode</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3flSlYn">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/71ynIMjwgwL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
JBL T460BT Extra Bass Wireless On-Ear Headphones with 11 Hours Playtime & Mic (Black)</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2OjesCY">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61H0sXxrFRL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">boAt Rockerz 600 Bluetooth Headphone with Luxurious Sound, Plush Earcushions, Foldable Ergonomic Design and Up to 8H Playtime (Black)</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2Wdhxsm">Purchase</a>
	         </div>		    
	    </div>

	</div>	

	<div class=category_sub>

	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61vQesESj-L._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">JBL Tune 500BT Powerful Bass Wireless On-Ear Headphones with Mic</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3foXbny">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61stQYWQO4L._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">boAt Rockerz 400 Bluetooth Headphone with Super Extra Bass, Up to 8H Playtime, Dual Connectivity Modes, Foldable Earcups and Lightweight Design </h3>
	         <div class="purchase">
	    	        <a href="   ">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/71s9FMKzr%2BL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">Mi Super Bass Wireless Headphones with Super Powerful Bass, Up to 20 Hours Battery Life, Bluetooth 5.0</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3gPVlfN">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/71hfI63kTaL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">Leaf Bass Wireless Bluetooth Headphones with Hi-Fi Mic and 10 Hours Battery Life, Over Ear Headphones with Super Soft Cushions and Deep Bass</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3efa9TG">Purchase</a>
	         </div>		    
	    </div>

	</div>		

<!-- ================================================================== -->
	<div class="category">
		<h2>Speaker</h2>
	</div>

	<div class=category_sub>

	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/81cyVGquiqL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">boAt Stone 200 Portable Wireless Speaker with 3W Premium Sound, Robust Bass, Rugged Mountable Design, IPX6 Water & Splash Resistance</h3>
	         <div class="purchase">
	    	        <a href="     ">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/71kl0uk7RBL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">JBL Flip 3 Stealth Waterproof Portable Bluetooth Speaker with Rich Deep Bass (Black), Without Mic</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/329vn31">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/81QmRXKHWEL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">Infinity (JBL) Fuze 100 Deep Bass Dual Equalizer IPX7 Waterproof Portable Wireless Speaker</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2Wc2iQz">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/81eUbdagAAL._SL1200_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
JBL GO Portable Wireless Bluetooth Speaker with Mic</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/32fGiZ3">Purchase</a>
	         </div>		    
	    </div>

	</div>	

	<div class=category_sub>

	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/81-FU-6MDxL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">JBL Flip 5 20 W IPX7 Waterproof Bluetooth Speaker with PartyBoost</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2BSmMqJ">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/71KkKkxNAbL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Infinity (JBL) Fuze Pint Deep Bass Dual EQ Bluetooth 5.0 Wireless Portable Speaker</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2CoYJ2o">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61Mq3HQ5MqL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
boAt Stone 170 Portable Bluetooth Speakers with True Wireless Sound, Compact IPX6 Water Resistance Design and HD Sound</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3fyO6ZL">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/71YXa2%2BAyNL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
boAt Stone 650 Portable Wireless Speaker with 10W Stereo Sound, Powerful Bass, IPX5 Water & Splash Resistance, Multiple Connectivity Modes</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3flVlUD">Purchase</a>
	         </div>		    
	    </div>

	</div>		

<!-- ================================================================== -->
	<div class="category">
		<h2>Earphones</h2>
	</div>

	<div class=category_sub>

	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51j4zZ9eQSL._SL1472_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">Sennheiser CX 180 Street II In-Ear Headphone (Black), without Mic</h3>
	         <div class="purchase">
	    	        <a href="     ">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61ptzNC8r8L._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">JBL C100SI In-Ear Deep Bass Headphones with Mic (Black)</h3>
	         <div class="purchase">
	    	        <a href="   ">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/719elVA3FvL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">boAt BassHeads 100 in-Ear Wired Earphones with Super Extra Bass, in-line Mic, Hawk Inspired Design and Perfect Length Cable</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3fmpfrT">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61lm7mif%2BhL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
boAt BassHeads 152 KKR Edition Wired Earphones with Super Extra Bass, Durable Cable, Built-in Mic, Metallic Earbuds</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2CqNQ08">Purchase</a>
	         </div>		    
	    </div>

	</div>	

	<div class=category_sub>

	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/41NBqO8NcyL.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Sennheiser CX 275 S In -Ear Universal Mobile Headphone With Mic</h3>
	         <div class="purchase">
	    	        <a href="   ">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61JPsoOQ7zL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
JBL C200SI Super Deep Bass in-Ear Premium Headphones with Mic </h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2BVxyfU">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/611vb2%2BitAL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
boAt BassHeads 225 in-Ear Wired Earphones with Super Extra Bass, Metallic Finish, Tangle-Free Cable and Gold Plated Angled Jack </h3>
	         <div class="purchase">
	    	        <a href="   ">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61jRBK9c%2ByL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
boAt Bassheads 242 Wired Sports Earphones with HD Sound, 10 mm Dynamic Drivers, IPX 4 Sweat and Water Resistance</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/305xRNf">Purchase</a>
	         </div>		    
	    </div>

	</div>		

<!-- ================================================================== -->
	<div class="category">
		<h2>wireless</h2>
	</div>

	<div class=category_sub>

	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61D%2BCNKWRTL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Infinity (JBL) Glide 120 Metal in-Ear Wireless Earphones, with Bluetooth 5.0 and IPX5 Sweatproof</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2C5P9l4">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/713hwii16nL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">boAt Rockerz 255 Sports Wireless Headset with Super Extra Bass, IPX5 Water & Sweat Resistance, Qualcomm Chipset and Up to 6H Playback</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2OiOj7e">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61ECm9HL6FL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Sony WI-C200 Wireless In-Ear Headphones with 15 Hours Battery Life, Quick Charge, Magnetic Earbuds for Tangle Free Carrying,Metallic Finish</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/328PZIp">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/713vb1xP7mL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
JBL E25BT Signature Sound Wireless in-Ear Headphones with Mic </h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2DridDY">Purchase</a>
	         </div>		    
	    </div>

	</div>	

	<div class=category_sub>

	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51jGCELP5zL._SL1100_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
pTron Bassbuds in-Ear True Wireless Bluetooth Headphones (TWS) with Mic</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2AQ0KUS">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61YS6mXB5UL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
boAt Airdopes 201 True Wireless Earbuds with Up to 15H Total Playback, IPX4 Water Resistance, Secure Fit Earhooks, Immersive Audio</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3fnf0U2">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/517UKAscqfL._SL1100_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
PTron Bassbuds Pro in-Ear True Wireless Bluetooth Headphones (TWS) with Mic</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/38MvR00">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61k1jK9XwVL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Redmi Earbuds S, Punchier Sound,Up to 12 Hours of Playback time, IPX4 Sweat & Splash Proof& DSP Environmental Noise Cancellation</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2Oinv7e">Purchase</a>
	         </div>		    
	    </div>

	</div>		


</body>
</html>