<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<title>Amazon affiliate</title>
	<link rel="stylesheet" type="text/css" href="./css/stylesheet.css">
</head>
<body>


	<div class="category">
		<h2>Overall best</h2>
	</div>

	<div class=category_sub>

	    <div class="category_sub_div">
		    <a href=""><img src="./images/img34.JPEG" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name"></h3>
	         <div class="purchase">
	    	        <a href="">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="./images/img34.JPEG" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name"></h3>
	         <div class="purchase">
	    	        <a href="">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="./images/img34.JPEG" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name"></h3>
	         <div class="purchase">
	    	        <a href="">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="./images/img34.JPEG" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name"></h3>
	         <div class="purchase">
	    	        <a href="">Purchase</a>
	         </div>		    
	    </div>

	</div>	


</body>
</html>