<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<title>Amazon affiliate</title>
	<link rel="stylesheet" type="text/css" href="./css/stylesheet.css">
</head>
<body>

	<header>
		<div id="container_powerbank">
			<div>
				<h1 class="page2_shop_here">Shop here</h1>				
			</div>
		</div>
	</header>

	<div class="category">
		<h2>Overall best</h2>
	</div>

	<div class=category_sub>

	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61kYwX%2BwKdL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Mi 20000mAH Li-Polymer Power Bank 2i (Sandstone Black) with 18W Fast Charging</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2Zrcc2L">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61zRdK142HL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Redmi 20000mAh Li-Polymer Power Bank (White), USB Type C and Micro USB Ports</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3j39t7B">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61LDA7qg9-L._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Ambrane 15000mAh Li-Polymer Powerbank with Type C and USB Ports </h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2CuKV6H">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/619AI9CLXTL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Mi 10000mAH Li-Polymer Power Bank 2i (Black) with 18W Fast Charging</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3fx8pXi">Purchase</a>
	         </div>		    
	    </div>

	</div>	


</body>
</html>