<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<title>Amazon affiliate</title>
	<link rel="stylesheet" type="text/css" href="./css/stylesheet.css">
</head>
<body>

	<header>
		<div id="container_technology">
			<div>
				<h1 class="page2_shop_here">Shop here</h1>				
			</div>
		</div>
	</header>

	<div class="category">
		<h2>Overall best</h2>
	</div>

	<div class=category_sub>

	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61oNAbhtyLL._SL1471_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
HolyHigh Smart Watch for Men Women IP68 Waterproof Smart Band Heart Rate Sleep Monitor</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2AVcvJG">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61lE%2BMkICrL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">HolyHigh Smart Watch Full Touch Customize Watch Face with Heart Rate/ BP/Blood Oxygen/ Sleep Monitor</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3emgfla">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61FsfAGel3L._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">Noise Colorfit Pro 2 Full Touch Control Smart Watch (Mist Grey)</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/2WgtIEZ">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/71y305sR9OL._SL1346_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Noise NoiseFit Evolve Full Touch Control Smart Watch with AMOLED Display </h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/30c20dy">Purchase</a>
	         </div>		    
	    </div>

	</div>	

		<div class=category_sub>

	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/71ZIrJ6XLLL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Mi Band 3 (Black)</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/305axiB">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/71ZSpNjEl0L._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
Mi Smart Band 4</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3evtFvc">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/71s98DkN0FL._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
HONOR Band 5i (Meteorite Black)</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3fs41bT">Purchase</a>
	         </div>		    
	    </div>
	    <div class="category_sub_div">
		    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/81MfrKM-h7L._SL1500_.jpg" alt="" class="image_dim_page2"></a>
		    <h3 class="product_name">
HONOR Band 5 (MeteoriteBlack)</h3>
	         <div class="purchase">
	    	        <a href="https://amzn.to/3fwDTwI">Purchase</a>
	         </div>		    
	    </div>

	</div>	


</body>
</html>