<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
	<title>Amazon affiliate</title>
	<link rel="stylesheet" type="text/css" href="./css/stylesheet.css">
</head>
<body >
    <div class="unavailable">
        <h2>Category unavailable!</h2>
        <p>This category is under development</p>
    </div> 
</body>
</html>